<script>
  document.addEventListener("turbo:load", function() {
    $("form").on("ajax:success", function(event, data, status, xhr) {
      console.log(event);
      console.log(data);
      console.log(status);
      return flashAlert("success", data);
    }).on("ajax:error", function(event, xhr, status, error) {
      console.log(xhr);
      console.log(error);
      return flashAlert("danger", xhr);
    });
  });
</script>

<h1 class="display-4">{{ l.headline }}</h1>
<p>{{ l.explainer }}.</p>
{% assign company_id   = "" | new_object_id %}
{% assign task_id     = "" | new_object_id %}

<h5 class="mt-5">{{ l.headlines.index }}</h5>
<p>{{ l.explainers.index }}</p>

{% capture index %}/tasks.json?company_id={{ company_id }}{% endcapture %}
<p>
  <a href="{{ 'tasks__index' | path_for: format: 'json', company_id: company_id }}" target="_blank">GET {{ index }} <i class="fas fa-external-link-alt"></i></a>
</p>

<h5 class="mt-5">{{ l.headlines.create }}</h5>
<p>{{ l.explainers.create }}</p>

<form class="mb-3" action="{{ 'tasks__create' | path_for: format: 'json' }}" method="post" data-remote="true">
  <div class="input-group">
    <input type="hidden" name="company_id" value="{{ company_id }}">
    <input type="hidden" name="_id" value="{{ task_id }}">
    <input class="form-control" type="text" name="name" placeholder="{{ l.placeholders.create_name }}">
    <input type="submit" class="btn btn-outline-primary" value="{{ l.buttons.create }}">
  </div>
</form>

<h5 class="mt-5">{{ l.headlines.show }}</h5>
<p>{{ l.explainers.show }}</p>

{% capture show %}/tasks/{{ task_id }}.json?company_id={{ company_id }}{% endcapture %}
<p>
  <a href="{{ 'tasks__show' | path_for: format: 'json', id: task_id, company_id: company_id }}" target="_blank">GET {{ show }} <i class="fas fa-external-link-alt"></i></a>
</p>

<h5 class="mt-5">{{ l.headlines.update }}</h5>
<p>{{ l.explainers.update }}</p>

<form class="mb-3" action="{{ 'tasks__update' | path_for: id: task_id, format: 'json' }}" method="post" target="_blank">
  <div class="input-group">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="company_id" value="{{ company_id }}">
    <input class="form-control me-3" type="text" name="name" placeholder="{{ l.placeholders.update_name }}">
    <button type="submit" class="btn btn-outline-primary">
      {{ l.buttons.update }} <i class="fas fa-external-link-alt"></i>
    </button>
  </div>
</form>

<h5 class="mt-5">{{ l.headlines.destroy }}</h5>
<p>{{ l.explainers.destroy }}</p>

{% capture destroy %}/tasks/{{ task_id }}.json?company_id={{ company_id }}{% endcapture %}
<form action="{{ 'tasks__destroy' | path_for: format: 'json' }}" method="post" target="_blank">
  <div class="input-group">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="company_id" value="{{ company_id }}">
    <input type="hidden" name="_id" value="{{ task_id }}">
    <button type="submit" class="text-primary" style="background:none; border: none; padding:0 !important;">
      DELETE {{ destroy }} <i class="fas fa-external-link-alt"></i>
    </button>
  </div>
</form>

<h5 class="mt-5">{{ l.headlines.refresh }}</h5>
<p>{{ l.explainers.refresh }}</p>