<h1 class="display-4">{{ l.headline }}</h1>
<p>{{ l.explainer }}.</p>
{% assign company_id 	= "5d1a22fc3ab42f28eb45454c" %}
{% assign task_id 		= "5d1a24063ab42f28eb45454d" %}


{% capture index %}/tasks.json?company_id={{ company_id }}{% endcapture %}
<p>
	<a href="{{ index }}" target="_blank">GET {{ index }} <i class="fas fa-external-link-alt"></i></a>
</p>

{% capture show %}/tasks/{{ task_id }}.json?company_id={{ company_id }}{% endcapture %}
<p>
	<a href="{{ show }}" target="_blank">GET {{ show }} <i class="fas fa-external-link-alt"></i></a>
</p>

<p>
	<form action="/tasks.json" method="post" target="_blank">
		<div class="input-group">
			<input type="hidden" name="company_id" value="{{ company_id }}">
			<input class="form-control mr-3" type="text" name="name" placeholder="{{ l.placeholders.name }}">
			<input class="btn btn-outline-primary" type="submit" value="{{ l.buttons.create }}">
		</div>
	</form>
</p>

{% capture update %}/tasks/{{ task_id }}.json?company_id={{ company_id }}{% endcapture %}
<p>
	<form action="{{ update }}" method="post" target="_blank">
		<input type="hidden" name="_method" value="patch">
		<button type="submit" class="text-primary" style="background:none; border: none; padding:0 !important;">
			PATCH {{ update }} <i class="fas fa-external-link-alt"></i>
		</button>
	</form>
</p>